@import url('https://fonts.googleapis.com/css?family=Roboto:500,400');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?48b0vh');
  src:  url('../fonts/icomoon.eot?48b0vh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?48b0vh') format('truetype'),
    url('../fonts/icomoon.woff?48b0vh') format('woff'),
    url('../fonts/icomoon.svg?48b0vh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apps:before {
  content: "\e5c3";
}
.icon-archive:before {
  content: "\e149";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-brightness_2:before {
  content: "\e3a7";
}
.icon-brightness_low:before {
  content: "\e1ad";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-crop_3_2:before {
  content: "\e3bd";
}
.icon-crop_landscape:before {
  content: "\e3c3";
}
.icon-crop_7_5:before {
  content: "\e3c0";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-done:before {
  content: "\e876";
}
.icon-done_all:before {
  content: "\e877";
}
.icon-drafts:before {
  content: "\e151";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-star:before {
  content: "\e838";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-keyboard_backspace:before {
  content: "\e317";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-view_agenda:before {
  content: "\e8e9";
}
.icon-view_day:before {
  content: "\e8ed";
}
.icon-view_stream:before {
  content: "\e8f2";
}



// Source: https://css-tricks.com/snippets/css/useful-css3-less-mixins/

@mixin text-shadow($string: 0 1px 3px rgba(0, 0, 0, 0.25))
{
	text-shadow: $string;
}
@mixin box-shadow($string)
{
	-webkit-box-shadow: $string;
	-moz-box-shadow: $string;
	box-shadow: $string;
}
@mixin drop-shadow($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25)
{
	-webkit-box-shadow:	$x $y $blur $spread rgba(0, 0, 0, $alpha);
	-moz-box-shadow:	$x $y $blur $spread rgba(0, 0, 0, $alpha);
	box-shadow:		$x $y $blur $spread rgba(0, 0, 0, $alpha);
}
@mixin inner-shadow($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25)
{
	-webkit-box-shadow: inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
	-moz-box-shadow:    inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
	box-shadow:         inset $x $y $blur $spread rgba(0, 0, 0, $alpha);
}

@mixin box-sizing($type: border-box)
{
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	box-sizing:         $type;
}

@mixin border-radius($radius: 5px)
{
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

@mixin border-radiuses($topleft: 0, $topright: 0, $bottomleft: 0, $bottomright: 0) {
	-webkit-border-top-right-radius:    $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius:  $bottomleft;
	-webkit-border-top-left-radius:     $topleft;

	-moz-border-radius-topright:        $topright;
	-moz-border-radius-bottomright:     $bottomright;
	-moz-border-radius-bottomleft:      $bottomleft;
	-moz-border-radius-topleft:         $topleft;

	border-top-right-radius:            $topright;
	border-bottom-right-radius:         $bottomright;
	border-bottom-left-radius:          $bottomleft;
	border-top-left-radius:             $topleft;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

@mixin opacity($opacity: 0.5)
{
	-webkit-opacity: 	$opacity;
	-moz-opacity: 		$opacity;
	opacity: 		$opacity;
}

@mixin gradient($startColor: #eee, $endColor: white)
{
	background-color: $startColor;
	background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
	background: -webkit-linear-gradient(top, $startColor, $endColor);
	background: -moz-linear-gradient(top, $startColor, $endColor);
	background: -ms-linear-gradient(top, $startColor, $endColor);
	background: -o-linear-gradient(top, $startColor, $endColor);
}
@mixin horizontal-gradient($startColor: #eee, $endColor: white)
{
 	background-color: $startColor;
	background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image: -moz-linear-gradient(left, $startColor, $endColor);
	background-image: -ms-linear-gradient(left, $startColor, $endColor);
	background-image: -o-linear-gradient(left, $startColor, $endColor);
}

@mixin animation($name, $duration: 300ms, $delay: 0, $ease: ease)
{
	-webkit-animation: $name $duration $delay $ease;
	-moz-animation:    $name $duration $delay $ease;
	-ms-animation:     $name $duration $delay $ease;
}

@mixin transition($transition)
{
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
}
@mixin transform($string)
{
	-webkit-transform: $string;
	-moz-transform: 	 $string;
	-ms-transform: 		 $string;
	-o-transform: 		 $string;
}
@mixin scale($factor)
{
	-webkit-transform: scale($factor);
	-moz-transform: 	 scale($factor);
	-ms-transform: 		 scale($factor);
	-o-transform: 		 scale($factor);
}
@mixin rotate($deg)
{
	-webkit-transform: rotate($deg);
	-moz-transform: 	 rotate($deg);
	-ms-transform: 		 rotate($deg);
	-o-transform: 		 rotate($deg);
}
@mixin skew($deg, $deg2)
{
	-webkit-transform:       skew($deg, $deg2);
	-moz-transform: 	 skew($deg, $deg2);
	-ms-transform: 		 skew($deg, $deg2);
	-o-transform: 		 skew($deg, $deg2);
}
@mixin translate($x, $y:0)
{
	-webkit-transform:       translate($x, $y);
	-moz-transform: 	 translate($x, $y);
	-ms-transform: 		 translate($x, $y);
	-o-transform: 		 translate($x, $y);
}
@mixin translate3d($x, $y: 0, $z: 0)
{
	-webkit-transform:       translate3d($x, $y, $z);
	-moz-transform: 	 translate3d($x, $y, $z);
	-ms-transform: 		 translate3d($x, $y, $z);
	-o-transform: 		 translate3d($x, $y, $z);
}
@mixin perspective($value: 1000)
{
	-webkit-perspective: 	$value;
	-moz-perspective: 	$value;
	-ms-perspective: 	$value;
	perspective: 		$value;
}
@mixin transform-origin($x:center, $y:center)
{
	-webkit-transform-origin: $x $y;
	-moz-transform-origin:    $x $y;
	-ms-transform-origin:     $x $y;
	-o-transform-origin:      $x $y;
}


body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: rgb(238, 238, 238);
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

input {
	outline: 0;
	border: 0; 
}

.header {
	top: 0;
	left: 0;
	padding: 0 1em;
	width: calc(100% - 2em);
	background: rgb(96, 64, 176);
	text-align: left;
	position: fixed;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.28);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.28);

	&__wrapper {
		padding: 20px 0;
	}

	&__burger {
		width: 18px;
		height: 12px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 4px;
		position: relative;

		&> span,
		&> a {
			top: 50%;
			color: #fff;
			font-weight: 500;
			font-size: 22px;
			position: absolute;
			text-decoration: none;
			@include translate(0, -50%);
		}
	}

	&__logo {
		font-weight: 500;
		margin-left: 36px;
		display: inline-block;
		vertical-align: middle;
		color: #fff;
	}

	&__search {
		margin: -20px 0;
		padding: 20px 0;
		font-size: 16px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 0.5em;

		&> input {
			border: 0;
			height: 100%;
			padding: 20px 0;
			padding-left: 0.5em;
		}	
	}

	&__searchIcon {
		top: 50%;
		font-size: 20px;
		color: #fff;
		position: absolute;
		@include translate(0, -50%);
	}

	&__options {
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: middle;
	}

	&__item {
		min-width: 20px;
		vertical-align: middle;
		display: inline-block;
		position: relative;
		margin-left: 1em;
	}
}

// Compact mode
.compact {
	.container {
		padding: 0;
	}
	.container__wrapper {
		padding: 0;
	}

	.card {
		margin: 0;
		border-bottom: 1px solid #e5e5e5;
	}
}

.container {
	margin-top: 60px;
}

.container__wrapper {
	padding: 0.4em 1em;
}

.search__history {
	width: 100%;
	background: #fff;
	list-style: none;
	padding: 0;
	margin: 0;

	&__item {
		padding: 1.2em 1.45em;
		border-bottom: 1px solid #cecece;

		&:nth-child(1) {
			padding-top: 1.5em;
		}
	}
	&__icon {
		display: inline-block;
		color: rgba(0, 0, 0, 0.8);	    margin-right: 0.75em;
	}

	&__text {
		font-size: 14px;
		color: rgba(0, 0, 0, 0.8);
		display: inline-block;
	}
}

.cardList {
	
}

.card {
	padding: 1em;
	background: #fff;
	text-align: left;
	margin: 0.7em 0;
	padding-bottom: 23px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
	@include border-radius(2px);
	@include transition(all 120ms);

	&__header {
		margin-bottom: 1em;

		&__group {
			margin-left: 1em;
			display: inline-block;
			vertical-align: middle;
		}
	}

	&__avatar {
		width: 45px;
		height: 45px;
		background: #e9e9e9;
		display: inline-block;
		vertical-align: middle;
		background-size: cover;
		@include border-radius(100%);
	}

	&__author {
		font-size: 14px;
		font-weight: 500;
	}

	&__date {
		font-size: 12px;
		margin-top: 0.3em;
		color: rgba(0, 0, 0, 0.7);
		text-transform: capitalize;
	}

	&__message {
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
	}

}