@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:500,400");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?8j6638");
  src: url("../fonts/icomoon.eot?8j6638#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?8j6638") format("truetype"), url("../fonts/icomoon.woff?8j6638") format("woff"), url("../fonts/icomoon.svg?8j6638#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-infinite:before {
  content: "";
}

.icon-archive:before {
  content: "";
}

.icon-arrow_back:before {
  content: "";
}

.icon-brightness_2:before {
  content: "";
}

.icon-brightness_3:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-mode_edit:before {
  content: "";
}

.icon-dehaze:before {
  content: "";
}

.icon-delete:before {
  content: "";
}

.icon-drafts:before {
  content: "";
}

.icon-favorite:before {
  content: "";
}

.icon-favorite_border:before {
  content: "";
}

.icon-flash_on:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-person:before {
  content: "";
}

.icon-person_pin:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-star_border:before {
  content: "";
}

.icon-update:before {
  content: "";
}

.icon-view_day:before {
  content: "";
}

.icon-whatshot:before {
  content: "";
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: #eeeeee;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

input {
  outline: 0;
  border: 0;
}

.right {
  text-align: right;
}

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flexbox {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.flexbox__elastic {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated__background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 100%;
  position: relative;
}

.placeholder__line {
  width: 100%;
  height: 12px;
  margin: 0.1em 0;
  background: #e9e9e9;
  display: inline-block;
  overflow: hidden;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.placeholder__message {
  width: 100%;
  height: 10px;
  margin: 0.1em 0;
  background: #e9e9e9;
  display: inline-block;
  overflow: hidden;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.header {
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0 1em;
  width: calc(100% - 2em);
  background: #6040b0;
  text-align: left;
  position: fixed;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.28);
}
.header__wrapper {
  padding: 20px 0;
}
.header__burger {
  width: 18px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  position: relative;
}
.header__burger > span, .header__burger > a {
  top: 50%;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  position: absolute;
  text-decoration: none;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.header__logo {
  font-weight: 500;
  margin-left: 36px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
.header__search {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
}
.header__search > input {
  width: calc(100% - 0.5em);
  border: 0;
  padding: 20px 0;
  padding-left: 0.5em;
}
.header__searchIcon {
  top: 50%;
  font-size: 20px;
  color: #fff;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.header__options {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
.header__item {
  min-width: 20px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin-left: 1em;
}

div {
  outline: 0;
}

.disabled {
  cursor: default;
  opacity: 0.5;
}

.compact .container {
  padding: 0;
}
.compact .container__wrapper {
  width: 100%;
  margin: 0;
}
.compact .card {
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.night {
  background: #141b23 !important;
}
.night .header,
.night .header__search > input {
  color: #fff !important;
  background: #273445 !important;
}
.night .header span,
.night .header__search > input span {
  color: #fff !important;
}
.night .header::placeholder,
.night .header__search > input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
.night .header:-ms-input-placeholder,
.night .header__search > input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.night .header::-ms-input-placeholder,
.night .header__search > input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.night .list {
  color: #fff !important;
  background: #1d2835 !important;
}
.night .list__item {
  border-bottom: #293646 !important;
}
.night .list__icon, .night .list__text {
  color: rgba(255, 255, 255, 0.6) !important;
}
.night .list__title {
  color: #7890b5 !important;
  background: #161f2b !important;
}
.night .notFound__icon {
  background: #526a86;
}
.night .notFound__icon > span {
  color: rgba(255, 255, 255, 0.7);
}
.night .notFound__text {
  color: rgba(255, 255, 255, 0.5);
}
.night .notFound__button {
  border-color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
}
.night .card {
  background: #1d2835 !important;
  border-bottom: #293646 !important;
}
.night .card .card__date {
  color: #808e91;
}
.night .card .card__author {
  color: #fff;
}
.night .card .card__message {
  color: #fff;
}
.night .card .card__avatar {
  background-color: #40556d;
}
.night .card .card__options__item {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(19, 74, 117, 0.4);
}
.night .card .card__options__item__selected {
  background: rgba(19, 74, 117, 0.2);
  color: rgba(255, 255, 255, 0.8);
}
.night .search__noResults {
  color: rgba(255, 255, 255, 0.6);
}
.night .placeholder__line,
.night .placeholder__message {
  background: #41556d;
}
.night .animated__background {
  background: #41556d;
  background: linear-gradient(to right, #2f3c4e 8%, #263140 18%, #2f3c4e 33%);
}
.night input:checked + .slider {
  background-color: #2c5790;
}
.night .loadMore__shadow {
  -webkit-box-shadow: 0px -4px 21px 9px #1d2835;
  -moz-box-shadow: 0px -4px 21px 9px #1d2835;
  box-shadow: 0px -4px 21px 9px #1d2835;
}

.react-confirm-alert-body {
  width: auto;
  max-width: 350px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  display: none !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu-wrap {
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
}

.bm-menu {
  padding: 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  top: 0;
  background: rgba(0, 0, 0, 0.9);
}

.line {
  width: 100%;
  display: block;
}

.Page {
  width: 100%;
  height: 100%;
  position: relative;
}

.Page,
.header__wrapper,
.headerSearch__wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.container {
  margin-top: 59px;
}

.container__wrapper {
  width: calc(100% - 2em);
  margin: 0.4em 1em;
  overflow-x: hidden;
}

.loadMore {
  width: 100%;
  display: block;
  text-align: center;
  background: transparent;
  padding: 2em 0;
  position: relative;
  z-index: 10;
}
.loadMore__shadow {
  -webkit-box-shadow: 0px -8px 35px -3px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px -8px 35px -3px rgba(0, 0, 0, 0.38);
  box-shadow: 0px -8px 35px -3px rgba(0, 0, 0, 0.38);
}
.loadMore__button {
  outline: 0;
  padding: 1em;
  display: inline-block;
  border: 1px solid #cecece;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.notFound {
  position: relative;
  height: calc(100vh - 70px);
  text-align: center;
}
.notFound__wrapper {
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.notFound__icon {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  background: #d6d6d6;
  position: relative;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.notFound__icon > span {
  top: 50%;
  left: 50%;
  color: #636262;
  font-size: 40px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.notFound__text {
  font-size: 18px;
  margin-top: 1em;
  color: rgba(0, 0, 0, 0.6);
}
.notFound__button {
  color: #6040b0;
  font-size: 14px;
  margin-top: 2em;
  padding: 0.5em 1.2em;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #6040b0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.search__noResults {
  margin: 1em;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
}

.list {
  width: 100%;
  background: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list__title {
  width: calc(100% - 2em);
  padding: 0.5em 1em;
  background: #cecece;
}
.list__item {
  padding: 1.2em 1.45em;
  border-bottom: 1px solid #cecece;
}
.list__item:nth-child(1) {
  padding-top: 1.5em;
}
.list__icon {
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 0.75em;
}
.list__text {
  font-size: 14px;
  display: inline-block;
  word-break: break-word;
  color: rgba(0, 0, 0, 0.8);
}

.card {
  padding: 1em;
  background: #fff;
  text-align: left;
  margin: 0.7em 0;
  padding-bottom: 23px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  opacity: 1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 50ms;
  -moz-transition: all 50ms;
  -ms-transition: all 50ms;
  -o-transition: all 50ms;
}
.card__wrapper {
  height: "auto";
  position: relative;
  -webkit-transition: height 500ms ease-out;
  -moz-transition: height 500ms ease-out;
  -ms-transition: height 500ms ease-out;
  -o-transition: height 500ms ease-out;
}
.card__wrapper.hide {
  height: 0;
}
.card__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  content: "";
  top: 0;
}
.card.moving {
  -webkit-transition: initial;
  -moz-transition: initial;
  -ms-transition: initial;
  -o-transition: initial;
}
.card.hiding {
  opacity: 0;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}
.card.restart {
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
}
.card__header {
  margin-bottom: 1em;
}
.card__header__group {
  margin-left: 1em;
  display: inline-block;
  vertical-align: middle;
}
.card__avatar {
  width: 45px;
  height: 45px;
  background: #e9e9e9;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.card__author {
  font-size: 14px;
  font-weight: 500;
}
.card__date {
  font-size: 12px;
  margin-top: 0.3em;
  color: rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
}
.card__message {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.card__options {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.card__options__item {
  padding: 0.5em 0.7em;
  border: 1px solid #cecece;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.card__options__item__selected {
  background: rgba(96, 64, 176, 0.05);
}
.card__options__text {
  margin-right: 0.1em;
}

/* The switch - the box around the slider */
.switch {
  z-index: 0;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  outline: 0;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none !important;
  z-index: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  z-index: 2;
}

input:checked + .slider {
  background-color: #6040b0;
}

input:checked + .slider .deactivate {
  opacity: 1;
  color: white;
  margin-left: 0.8em;
}

input:not(:checked) + .slider .activate {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 2.9em;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  overflow: hidden;
}

.slider.round:before {
  border-radius: 50%;
}

/*# sourceMappingURL=index.css.map */
